<div>
    <div class="page-title">
        <h4>Historial de pedidos</h4>
        <button class="btn btn-small" data-tooltip="Abrir filtro" (click)="isFilterVisible = !isFilterVisible" data-position="left" [ngClass]="{'active': isFilterVisible,
      'red': isFiltered() }" #tooltip>
      <i class="material-icons">filter_list</i>
  </button>
    </div>

</div>

<app-history-filter *ngIf="isFilterVisible" (onFilter)="applyFilter($event)"></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
    <app-history-list [orders]="orders"></app-history-list>
    <div *ngIf="orders.length !==0; else empty">
        <div class="center mb2" *ngIf="!noMoreOrders">
            <button class="btn waves-effect grey darken-1 btn-small" (click)="loadMore()" *ngIf="!loading; else loader">Cargar mas</button>
            <ng-template #loader>
                <app-loader></app-loader>
            </ng-template>
        </div>
    </div>
    <ng-template #empty>
        <div class="center">No hay pedidos aun.</div>
    </ng-template>
</div>
<ng-template #reloadingBlock>
    <app-loader></app-loader>
</ng-template>
